.normal{}
.night{
	background-color: black;
	color: white;
}

#h1h{
	position: relative;
	text-align: center;
	/*margin-left: 100px;*/

}

.toolbar {}
.tool-list {
	color: red;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
	margin: 1rem;
	overflow: hidden;
	border-raduis: 10px;
}
.tool {}
.tool--btn {
	display: block;
	border: none;
	padding: .5rem;
	font-size: 20px;
}

.output-d {
	height:500px; 

	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 1rem;
	padding: 1rem;
}
.output-n{
	height:500px; 

	box-shadow: 0 10px 20px #8a8a99, 0 6px 6px rgba(0,0,0,0.23);
	margin: 1rem;
	padding: 1rem;
}

